.Grid {
  width: 100%;
  height: 100vh;
  position: relative;
}
.Gradient{
    position: absolute;
    bottom: -15px;
    width:100%;
    height:180px;
    opacity: 0.95;
    background:linear-gradient(#4b4747, #f3f1f1);
    z-index: 4;
}