.NavBarContainer {
  position: absolute;
  z-index: 2;
  top: 60px;
}
.ProfileContainer{
  position: absolute;
  z-index: 5;
  top:240px;
  left:20px;
  border:#dfdfdf;
}

.ProductsContainer{
  position: absolute;
  z-index: 5;
  top:250px;
  right:50px;
  border:#dfdfdf;
  width:880px;
  
}
.DealProductsContainer{
  height:350px; 
  margin-bottom: 30px;
}
.SelectedProductsContainer{
  height:350px; 
}
.UserProfileItems{
  display: flex;
  align-items: center;
  height:max-content;
  margin-bottom: 10px;
}
.UserProfileItems>div{
  flex:50%;
}
